## Question 1
Given two integer numbers, return their product only if the product is equal to or lower than 1000. Otherwise, return their sum.

In [14]:
number1 = int(input("Enter any number"))
number2 = int(input("Enter any number"))
product = number1 * number2
add = number1 + number2 
if product <=1000:
    print(product)
else:
    print(add)

Enter any number455
Enter any number23
478

## Question 2
Write a program to iterate the first 10 numbers, and in each iteration, print the sum of the current and previous number.

In [18]:
previous_num = 0
for i in range(1,11):
    next_number = previous_num + i
    print("current number", i, "previous number", previous_num , "sum", next_number)

current number 1 previous number 0 sum 1
current number 2 previous number 0 sum 2
current number 3 previous number 0 sum 3
current number 4 previous number 0 sum 4
current number 5 previous number 0 sum 5
current number 6 previous number 0 sum 6
current number 7 previous number 0 sum 7
current number 8 previous number 0 sum 8
current number 9 previous number 0 sum 9
current number 10 previous number 0 sum 10

## Question 3
Write a program to accept a string from the user and display characters that are present at an even index number.

For example, str = "pynative" so you should display ‘p’, ‘n’, ‘t’, ‘v’.

In [17]:
string = input("Enter any string")
length = len(string)
for i in range(0, length -1, 2):
    print("index[", i, "]", string[i])

Enter any stringskjahdklarky3q
index[ 0 ] s
index[ 2 ] j
index[ 4 ] h
index[ 6 ] k
index[ 8 ] a
index[ 10 ] k
index[ 12 ] 3

## Question 4
Iterate the given list of numbers and print only those numbers which are divisible by 5

In [21]:
numbers = [10, 20, 33, 46, 55]
for i in numbers:
    if i%5 == 0:
        print(i)

10
20
55

## Question 5
Write a program to remove characters from a string starting from zero up to n and return a new string.

For example:

remove_chars("pynative", 4) so output must be tive. Here, we need to remove the first four characters from a string.
remove_chars("pynative", 2) so output must be native. Here, we need to remove the first two characters from a string.
Note: n must be less than the length of the string.

In [5]:
def remove_chars(word, n):
    print('orignal string:', word)
    x = word[n:]
    return x

print("Removing characters from a string")
print(remove_chars("pynative", 4))
print(remove_chars("pynative", 2))

Removing characters from a string
orignal string: pynative
tive
orignal string: pynative
native

## Question 6
Write a function to return True if the first and last number of a given list is same. If numbers are different then return False.

Given:

numbers_x = [10, 20, 30, 40, 10]

numbers_y = [75, 65, 35, 75, 30]

Expected output:

Given list: [10, 20, 30, 40, 10]
result is True

numbers_y = [75, 65, 35, 75, 30]
result is False

In [6]:
def first_last_same(numberlist):
    first_num = numberlist[0]
    last_num = numberlist[-1]
    
    if first_num == last_num:
        return True
    else: 
        return False
numbers_x = [10, 20, 30, 40, 10]
print("result is", first_last_same(numbers_x))

numbers_y = [75, 65, 35, 75, 30]
print("result is", first_last_same(numbers_y))

result is True
result is False

## Question 7
Write a program to find how many times substring “Emma” appears in the given string.

Given:

str_x = "Emma is good developer. Emma is a writer"

In [9]:
str_x = "Emma is good developer. Emma is a writer"
# use count method of a str class
cnt = str_x.count("Emma")
print(cnt)

2

## Question 8
Print the following pattern
```
1 
2 2 
3 3 3 
4 4 4 4 
5 5 5 5 5
```

In [14]:
for num in range(10):
    for i in range(num):
        print (num, end=" ") #print number
    # new line after each row to display pattern correctly
    print("\n")

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

6 6 6 6 6 6

7 7 7 7 7 7 7

8 8 8 8 8 8 8 8

9 9 9 9 9 9 9 9 9

## Question 9
Write a program to check if the given number is a palindrome number.

A palindrome number is a number that is the same after reverse. For example, 545, is the palindrome numbers

Expected Output:

original number 121

Yes. given number is palindrome number

original number 125

No. given number is not palindrome number

In [15]:
# the number to be reversed
num = int(input("Enter a number"))

# the number after reversal
reversed_num = 0

# start a while loop till complete number has been reversed
while num != 0 :
    
    # taking modulo with 10 gives us the last digit of num
    curr_digit = num % 10
    
    # appending the last digit of num to reversed_num
    # for this we multiply the curr reversed_num by 10 and add curr_digit to it
    
    reversed_num = 10*reversed_num 
    reversed_num = reversed_num + curr_digit
    
    # remove the last digit from num by dividing it by 10
    num = num // 10
    
# we get the reversed_num
print("Reversed Number is: " + str(reversed_num))

Enter a number6789
Reversed Number is: 9876

## Question 10
Create a new list from two list using the following condition

Given two list of numbers, write a program to create a new list such that the new list should contain odd numbers from the first list and even numbers from the second list.

Given:

list1 = [10, 20, 25, 30, 35]

list2 = [40, 45, 60, 75, 90]

Expected Output:

result list: [25, 35, 40, 60, 90]

In [18]:
result_list = []
list1 = [10, 20, 25, 30, 35]
list2 = [40, 45, 60, 75, 90]
for num in list1:
    if num % 2 != 0:
        result_list.append(num)
        
for num in list2:
    if num % 2 == 0:
        result_list.append(num)
    
print(result_list)

[25, 35, 40, 60, 90]

## Question 11
Write a Program to extract each digit from an integer in the reverse order.
For example, If the given int is 7536, the output shall be “6 3 5 7“, with a space separating the digits.

In [19]:
number = 7536
print("Given number", number)
while number > 0:
    # get the last digit
    digit = number % 10 #modulus returns remainder 
    # remove the last digit and repeat the loop
    number = number // 10
    print(digit, end=" ")

Given number 7536
6 3 5 7

## Question 12
Calculate income tax for the given income by adhering to the rules below:
```
Taxable Income	Rate (in %)
First  $10,000	0
Next   $10,000	10
The remaining	20
```
Expected Output:

For example, suppose the taxable income is 45000, and the income tax payable is
```
10000*0% + 10000*10%  + 25000*20% = $6000.
```

In [22]:
def calculate_income_tax(income):
    # Define the tax rates and income brackets
    first_bracket = 10000  # First $10,000
    second_bracket = 10000  # Next $10,000
    rate_first_bracket = 0  # Rate for the first bracket
    rate_second_bracket = 10  # Rate for the second bracket
    rate_remaining = 20  # Rate for the remaining income

    if income <= first_bracket:
        # If income is within the first bracket
        tax = income * (rate_first_bracket / 100)
    elif income <= first_bracket + second_bracket:
        # If income is within the second bracket
        tax = (first_bracket * (rate_first_bracket / 100)) + ((income - first_bracket) * (rate_second_bracket / 100))
    else:
        # If income is above the second bracket
        tax = (first_bracket * (rate_first_bracket / 100)) + (second_bracket * (rate_second_bracket / 100)) + ((income - first_bracket - second_bracket) * (rate_remaining / 100))

    return tax

# Example usage:
income = 45000
income_tax = calculate_income_tax(income)
print(f"Income Tax for ${income} is ${income_tax:.2f}")

Income Tax for $45000 is $6000.00

## Question 13
Print multiplication table from 1 to 10

In [24]:
for i in range(1, 11):
    for j in range(1, 11):
        print(i * j, end=" ")
    print("\t\t")

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

## Question 14
Print a downward Half-Pyramid Pattern of Star (asterisk)

In [25]:
for i in range(6, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print(" ")

* * * * *
* * * *
* * *
* *
*

## Question 15
Write a function called exponent(base, exp) that returns an int value of base raises to the power of exp.

Note: here exp is a non-negative integer, and the base is an integer.

Expected output:

```
Case 1:

base = 2
exponent = 5

2 raises to the power of 5: 32 
i.e. (2 *2 * 2 *2 *2 = 32)
```

```
Case 2:

base = 5
exponent = 4

5 raises to the power of 4 is: 625 
i.e. (5 *5 * 5 *5 = 625)
```

In [26]:
def exponent(base, exp):
    num = exp
    result = 1
    while num > 0:
        result = result * base
        num = num - 1
    print(base, "raises to the power of", exp, "is: ", result)
    
exponent(5, 4)

5 raises to the power of 4 is:  625